
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEM QC</title>
    <!-- Incluir archivos de Bootstrap -->
    <link rel="shortcut icon" href="{% static 'images/logo-cms.ico' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">

    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>



    <style>
      @import url("{% static 'css/style.css' %}");

    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
      <div class="container ">
          <a class="navbar-brand" href="https://home.cern/science/experiments/cms" target="_blank">
              <img src="{% static 'images/logo-cms.png' %}" width="60" height="60"  class="d-inline-block align-top img-fluid" alt="">
          </a>

          <a class="navbar-brand" href="https://www.udea.edu.co/" target="_blank">
            <img src="{% static 'images/logo-udea.jpg' %}" width="60" height="60"   class="d-inline-block align-top img-fluid" alt="">
          </a>

          <!-- Botón para colapsar la barra de navegación en dispositivos pequeños -->

          <button class="navbar-toggler custom-color" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  {% block serachspectro %}
                  {% endblock %} 
                  <li class="nav-item">
                      <a class="nav-link" >Contact</a>
                  </li>
              </ul>
          </div>
      </div>   
  </nav>

  <main>
    <!-- Aquí va el contenido principal de la página -->
    {% block content %}
    {% endblock %}        
  </main>

  <footer class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
              <h5 style="color: #1ABC9C;">Contact</h5>
              <ul class="list-unstyled">
                <li>Address: Cl. 67 #53-108</li>
                <li> City: Medellín - Colombia</li>
                <li>Phone: (57) 3136762236</li>
                <li>Email: arualesb.1@cern.ch</li>
              </ul>
            </div>


            <div class="col-sm-6 col-md-3">
              <h5></h5>
              <ul style="color: #1ABC9C;" class="list-unstyled">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li style="color: #1ABC9C;" class="nav-item">
                    <a class="nav-link" >Contact</a>
                  </li>
              </ul>
            </div>
             <!--<div class="col-sm-6 col-md-3">
              <h5>Nosotros</h5>
              <ul class="list-unstyled">
                <li>Misión</li>
                <li>Visión</li>
                <li>Historia</li>
              </ul>
            </div>-->
            
          </div>

    </div>
  </footer>

  <!-- Agrega los enlaces a Bootstrap JS y cualquier otro script necesario -->

  <script href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
  
  
</body>
</html>
