{% extends 'base.html' %}
{% load static %}


{% block content %}
<div style="height: 20px;"></div> 



<div class="d-flex justify-content-center align-items-center">

    
</div>

<div class="d-flex justify-content-center align-items-center">
  {% csrf_token %}
  <div style="  text-align: justify;
  width: 100%; 
  max-width: 800px; 
  height: 800%;
  margin:0 auto;
  padding: 20px;">

    <p style="font-size: 20px;"><strong>GEM QUALITY CONTROL REPORT</strong></p>
    <p style="font-size: 18px;">
      put here something descriptive of the page
      </p>
  </div>
</div>

<h2>Upload Images</h2>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="file-input" type="file" name="imagesa" multiple>
    </form>

<div class="container text-center">
  <div class="row align-items-start" style="background-color: #f5f5f5;">   
   <div class="container">

  <section class="section-content py-3">
    <div class="row">
      <aside class="col-lg-3"> 
  <!-- ============= COMPONENT ============== -->
        <nav class="sidebar card py-2" style="background-color: #1ABC9C;">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Generate report</a>
         </li>

          <li class="nav-item">
            <a class="nav-link" href="#"> Search report  </a>
          </li>
         
        </ul>
        </nav>
  <!-- ============= COMPONENT END// ============== -->	
      </aside>

      
      <main class="col-lg-9">
        
        <h2>Information</h2>
        
        <div class="row">
            <div class="row mt-3">
                <div class="col-md-6" style="text-align: left;">
                  <label  style="text-align: left; font-weight: bold;">Board_name:</label>       
                  <input class="form-control me-2" type="search" placeholder="BOARD NAME" aria-label="Search" name="apellido">
                </div>
                <div class="mt-3" style="text-align: left;">
                  <label style="text-align: left; font-weight: bold;">Observations:</label>
                  <textarea class="form-control me-2" placeholder="Observations" aria-label="OBSERVACIONES" name="observaciones" ></textarea>
              </div>
            </div>
            


            <h4>Visual Inspection</h4>
            <div class="row mt-3">
              <div class="col-md-6" style="text-align: left;">
                <label  style="text-align: left; font-weight: bold;">Operator(s):</label>       
                <input class="form-control me-2" type="search" placeholder="OPERATOR(S)" aria-label="Search" name="operatorvi" >
              </div>
              <div class="col-md-6" style="text-align: left;">
                <label  style="text-align: left; font-weight: bold;">Date of inspection:</label>
                <input class="form-control me-2" type="date" placeholder="DATA OF INSPECTION" name="fechavi" >        
              </div>
            </div>

          
          
          {% if image_urls %}
          <h2>Uploaded Images</h2>
          <div>
              {% for image_url in image_urls %}
                  <img src="{{ image_url }}" alt="Uploaded image" style="width: 150px; height: auto;">
              {% endfor %}
          </div>
          {% endif %}


          <h4>Microscope Inspection</h4>
          <div class="row mt-3">
            <div class="col-md-6" style="text-align: left;">
              <label  style="text-align: left; font-weight: bold;">Operator(s):</label>       
              <input class="form-control me-2" type="search" placeholder="OPERATOR(S)" aria-label="Search" name="operatormi" >
            </div>
            <div class="col-md-6" style="text-align: left;">
              <label  style="text-align: left; font-weight: bold;">Date of inspection:</label>
              <input class="form-control me-2" type="date" placeholder="DATA OF INSPECTION" name="fechami">        
            </div>
        </div>

        <div class="mt-3">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
        
            <input type="file" name="image" multiple>
            <button type="submit">Upload</button>
        </form>
        </div>
        <div class="mt-3">
              <button class="btn btn-outline-success me-2" type="submit">Generate report</button>
              <a href="#" class="btn btn-outline-secondary">Cancel</a>
          </div>
      </div>
   



      
      </main>
    </div>
  </section>
  
    </div><!-- container //  -->
  


  </div>

  <div class="container text-center">
    <div class="row align-items-start">
      <div style="display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 20px;">
    </div>
    </div>
  
  
  </div>



  </div>


<div style="height: 25px;"></div> 





{% endblock %}
