{% extends 'base.html' %}
{% load static %}


{% block content %}

<div style="height: 20px;"></div> 



<div class="d-flex justify-content-center align-items-center">

    
</div>

<div class="d-flex justify-content-center align-items-center">
  {% csrf_token %}
  <div style="  text-align: justify;
  width: 100%; 
  max-width: 800px; 
  height: 800%;
  margin:0 auto;
  padding: 20px;">

    <p style="font-size: 20px;"><strong>GEM QUALITY CONTROL REPORT</strong></p>
    <p style="font-size: 18px;">
      This platform generates QC REPORT reports for GE1/1, GE2/1 and ME0. In addition, it saves the reports in a database for later queries.
      </p>
  </div>
</div>



<div class="container text-center">
  {% csrf_token %}
  <div class="row align-items-start" style="background-color: #f5f5f5;">
    <div class="container">
      <section class="section-content py-3">
        <div class="row">

          <aside class="col-lg-3"> 
            <!-- ============= COMPONENT ============== -->
                  <nav class="sidebar card py-2" style="background-color: #1ABC9C;">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}">Generate report</a>
                   </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'clear' %}" onclick="cleanAndReload()">New report </a>
                    </li>
          
                    <li class="nav-item">
                      <a class="nav-link" href="#"> Search report  </a>
                    </li>

                    
                   
                  </ul>
                  </nav>
            <!-- ============= COMPONENT END// ============== -->	
                </aside>

                <main class="col-lg-9">
                  <h2>Information</h2>

                  
                  <div class="row">

                    <div class="row mt-3">
                      <div class="col-md-6" style="text-align: left;">
                        <label  style="text-align: left; font-weight: bold;">Board_name:</label>       
                        <input class="form-control me-2"  id="boardNameInput" type="search" placeholder="EX: GE21-RO-M6-0017" 
                        aria-label="Search" name="boardName">
                      </div>

                      <div class="col-md-6"style="text-align: left;">
                        <label  style="text-align: left; font-weight: bold;">GEM detector:</label>     
                        <select class="form-select me-2" id="gemInput" aria-label="GEM..." name="opciongem" required>
                          <option value="ME0">ME0</option>
                          <option value="GE2/1">GE2/1</option>
                          <option value="GE1/1">GE1/1</option>
                          
                          
                          <!-- Agrega más opciones según sea necesario -->
                        </select>        
                      </div>


                      <div class="mt-3" style="text-align: left;">
                        <label style="text-align: left; font-weight: bold;">Information:</label>
                        <textarea class="form-control me-2" id="informationInput" placeholder="Information" aria-label="INFORMATION" name="information" ></textarea>
                    </div>
                  </div>

                  <h4>Visual Inspection</h4>
                  <div class="row mt-3">
                    <div class="col-md-6" style="text-align: left;">
                      <label  style="text-align: left; font-weight: bold;">Operator(s):</label>       
                      <input class="form-control me-2" id="operatorviInput" type="search" placeholder="OPERATOR(S)" aria-label="Search" name="operatorvi" >
                    </div>
                    <div class="col-md-6" style="text-align: left;">
                      <label  style="text-align: left; font-weight: bold;">Date of inspection:</label>
                      <input class="form-control me-2" id="dateviInput" type="date" placeholder="DATA OF INSPECTION" name="fechavi" >        
                    </div>
                  </div>

                    <form id="upload-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="form_typevi" value="upload_imagesvi">
                        <input id="file-input" type="file" name="imagesvi" accept="image/*" multiple>
                    </form>

                    <script>
                        
                        document.getElementById('file-input').addEventListener('change', function() {
                            // Save the board name to localStorage before submitting
                            localStorage.setItem('boardName', document.getElementById('boardNameInput').value);
                            localStorage.setItem('gemName', document.getElementById('gemInput').value);
                            localStorage.setItem('information', document.getElementById('informationInput').value);
                            localStorage.setItem('operatorvi', document.getElementById('operatorviInput').value);
                            localStorage.setItem('datevi', document.getElementById('dateviInput').value);
                            localStorage.setItem('operatormi', document.getElementById('operatormiInput').value);
                            localStorage.setItem('datemi', document.getElementById('datemiInput').value);

                            // Submit the form
                            document.getElementById('upload-form').submit();
                        });

                        // Function to set the selected value of a select element
                        function setSelectedValue(selectObj, valueToSet) {
                            for (var i = 0; i < selectObj.options.length; i++) {
                                if (selectObj.options[i].value == valueToSet) {
                                    selectObj.selectedIndex = i;
                                    return;
                                }
                            }
                        }

                        // Retrieve the board name from localStorage on page load and set it as the input's value
                        window.onload = function() {
                            if(localStorage.getItem('boardName')) {
                                document.getElementById('boardNameInput').value = localStorage.getItem('boardName');
                            }

                            if(localStorage.getItem('gemName')) {
                                var gemInput = document.getElementById('gemInput');
                                setSelectedValue(gemInput, localStorage.getItem('gemName'));
                            }

                            if(localStorage.getItem('information')) { // Recuperar el valor del textarea
                                document.getElementById('informationInput').value = localStorage.getItem('information');
                            }

                            if(localStorage.getItem('operatorvi')) { // Recuperar el valor del textarea
                                document.getElementById('operatorviInput').value = localStorage.getItem('operatorvi');
                            }

                            if(localStorage.getItem('datevi')) { // Recuperar el valor del textarea
                                document.getElementById('dateviInput').value = localStorage.getItem('datevi');
                            }

                            if(localStorage.getItem('operatormi')) { // Recuperar el valor del textarea
                                document.getElementById('operatormiInput').value = localStorage.getItem('operatormi');
                            }

                            if(localStorage.getItem('datemi')) { // Recuperar el valor del textarea
                                document.getElementById('datemiInput').value = localStorage.getItem('datemi');
                            }
                        };
                    </script>

                    {% if image_urlsvi %}
                      <div style="display: flex; flex-wrap: wrap; align-items: flex-start;">
                        {% for image_urlvi in image_urlsvi %}
                          <div style="margin-bottom: 20px;">
                              <img src="{{ image_urlvi }}" alt="Uploaded image" style="width: 150px; height: auto;">
                              <!-- Eliminado el atributo id del formulario -->
                              <form class="comment-form" method="post">
                                  {% csrf_token %}
                                  <textarea name="commentvi" placeholder="Add a comment..." required></textarea>
                                  <input type="hidden" name="image_urlvi" value="{{ image_urlvi }}">
                                  
                                  <!-- Botón de envío eliminado -->
                              </form>
                          </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <h4>Microscope Inspection</h4>
                    <div class="row mt-3">
                      <div class="col-md-6" style="text-align: left;">
                        <label  style="text-align: left; font-weight: bold;">Operator(s):</label>       
                        <input class="form-control me-2" id="operatormiInput" type="search" placeholder="OPERATOR(S)" aria-label="Search" name="operatormi" >
                      </div>
                      <div class="col-md-6" style="text-align: left;">
                        <label  style="text-align: left; font-weight: bold;">Date of inspection:</label>
                        <input class="form-control me-2" id="datemiInput" type="date" placeholder="DATA OF INSPECTION" name="fechami">        
                      </div>
                    </div>

                    <form id="upload-formmi" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="hidden" name="form_typemi" value="upload_imagesmi">
                      <input id="file-inputmi" type="file" name="imagesmi" accept="image/*" multiple>
                      <!--<button onclick="submitComments()" type="submit">Upload</button> -->
                    </form>
                  
                    <h3>Uploaded Images</h3>
                    {% if image_urlsmi %}
                      <div style="display: flex; flex-wrap: wrap; align-items: flex-start;">                    
                          {% for image_urlmi in image_urlsmi %}
                              
                              <div style="margin-bottom: 20px;">
                                <img src="{{ image_urlmi }}" alt="Uploaded image" style="width: 150px; height: auto;">
                                <!-- Eliminado el atributo id del formulario -->
                                <form class="comment-formmi" method="post">
                                  {% csrf_token %}
                                  <input type="hidden" name="image_urlmi" value="{{ image_urlmi }}">
                                  
                                  <!-- Botón de envío eliminado -->
                              </form>

                            </div>
                          {% endfor %}
                      </div>
                    {% endif %}

                    
                    

                    <script>
                      document.getElementById("file-inputmi").addEventListener('change', function() {
                            // Save the board name to localStorage before submitting
                            localStorage.setItem('boardName', document.getElementById('boardNameInput').value);
                            localStorage.setItem('gemName', document.getElementById('gemInput').value);
                            localStorage.setItem('information', document.getElementById('informationInput').value);
                            localStorage.setItem('operatorvi', document.getElementById('operatorviInput').value);
                            localStorage.setItem('datevi', document.getElementById('dateviInput').value);
                            localStorage.setItem('operatormi', document.getElementById('operatormiInput').value);
                            localStorage.setItem('datemi', document.getElementById('datemiInput').value);

                            submitComments();
                            document.getElementById('upload-formmi').submit();
                            //submitComments();
                            
                        });
                      // Función para enviar todos los comentarios
                      function submitComments() {
                          var commentForms = document.querySelectorAll('.comment-form');
                  
                          commentForms.forEach(function(form) {
                              var comment = form.querySelector('textarea').value;
                              var imageUrl = form.querySelector('input[name="image_urlvi"]').value;
                              if (comment) {
                                  localStorage.setItem(imageUrl, comment); // Guarda el comentario en localStorage
                              }
                          });
                  
                          // Opcional: Recarga la página para ver los comentarios guardados (se puede omitir si no es necesario)
                          window.location.reload();
                      }
                  
                      // Función para cargar los comentarios desde localStorage cuando se cargue la página
                      window.onload = function() {
                          var commentForms = document.querySelectorAll('.comment-form');
                          commentForms.forEach(function(form) {
                              var imageUrl = form.querySelector('input[name="image_urlvi"]').value;
                              var comment = localStorage.getItem(imageUrl);
                              if (comment) {
                                  form.querySelector('textarea').value = comment;
                              }
                          });
                      };
                  </script>

                    <div class="mt-3">
                      <button class="btn btn-outline-success me-2" type="submit" onclick="submitAllComments();">Generate report</button>
                      <a  href="{% url 'clear' %}" class="btn btn-outline-secondary" onclick="cleanAndReload()">Cancel</a>
                  </div>

                  <div id="loadingMessage" style="display:none;">
                    <p style="color: red;font-size: 30px;">Generating PDF, please wait...</p>
                    <progress id="progressBar" value="0" max="100" style="width: 80%; height: 40px;"></progress>

                </div>

                  </div><!-- ============= ROW END// ============== -->	

              </main>

                

      </div><!-- ============= ROW END// ============== -->	
      
      </section><!-- ============= section END// ============== -->	

  </div><!-- container //  -->


</div>

</div>
<script>
  function cleanAndReload() {

      localStorage.clear();


      window.location.reload();
  }
  </script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Obtén la fecha actual
      var today = new Date();
      // Ajusta el mes y el día para asegurar el formato correcto (MM o DD)
      var month = '' + (today.getMonth() + 1),
          day = '' + today.getDate(),
          year = today.getFullYear();
      
      if (month.length < 2) month = '0' + month;
      if (day.length < 2) day = '0' + day;
      
      // Formatea la fecha a YYYY-MM-DD
      var formattedDate = [year, month, day].join('-');
      
      // Establece el valor por defecto para el input de fecha
      document.getElementById('dateviInput').value = formattedDate;
      document.getElementById('datemiInput').value = formattedDate;
  });
</script>
<script type="text/javascript">
  

  function submitAllComments() {
      document.getElementById('loadingMessage').style.display = 'block';

      //alert('Generating report, please wait, it may take 20 seconds...');
    

      var commentForms = document.querySelectorAll('.comment-form');

      // ====NAME BOARD
      var boardName = document.getElementById('boardNameInput').value.trim();

      //  localStorage
      if (!boardName) {
          boardName = localStorage.getItem('boardName');
      }

      // URL
      if (!boardName) {
          boardName = new URLSearchParams(window.location.search).get('boardName');
      }
      if (!boardName) {
          boardName = "";
      }

      // ===GEM
      var gemName = document.getElementById('gemInput').value.trim();

      //  localStorage
      if (!gemName) {
        gemName = localStorage.getItem('gemName');
      }

      // URL
      if (!gemName) {
        gemName = new URLSearchParams(window.location.search).get('gemName');
      }

      if (!gemName) {
          alert("Select GEM..");
          gemName.focus();
          return; // Detiene la ejecución si no hay un boardName válido
      }

      // ====INFORMATION
      var information = document.getElementById('informationInput').value.trim();

      //  localStorage
      if (!information) {
        information = localStorage.getItem('information');
      }

      // URL
      if (!information) {
        information = new URLSearchParams(window.location.search).get('information');
      }

      // ====OPERATOR VI
      var operatorvi = document.getElementById('operatorviInput').value.trim();

      //  localStorage
      if (!operatorvi) {
        operatorvi = localStorage.getItem('operatorvi');
      }

      // URL
      if (!operatorvi) {
        operatorvi = new URLSearchParams(window.location.search).get('operatorvi');
      }

      // ====DATE VI
      var datevi = document.getElementById('dateviInput').value.trim();

      //  localStorage
      if (!datevi) {
        datevi = localStorage.getItem('datevi');
      }

      // URL
      if (!datevi) {
        datevi = new URLSearchParams(window.location.search).get('datevi');
      }

      // ====OPERATOR MI
      var operatormi = document.getElementById('operatormiInput').value.trim();

      //  localStorage
      if (!operatormi) {
        operatormi = localStorage.getItem('operatormi');
      }

      // URL
      if (!operatormi) {
        operatormi = new URLSearchParams(window.location.search).get('operatormi');
      }

      if (!operatormi) {
        operatormi = "";
      }

      // ====DATE VI
      var datemi = document.getElementById('datemiInput').value.trim();

      //  localStorage
      if (!datemi) {
        datemi = localStorage.getItem('datemi');
      }

      // URL
      if (!datemi) {
        datemi = new URLSearchParams(window.location.search).get('datemi');
      }



      
      var commentsvi = []; // Lista para almacenar todos los comentarios
      var imageUrlsvi = []; // Lista para almacenar todas las URLs de las imágenes
      

      commentForms.forEach(form => {
          var commentv = form.querySelector('textarea[name="commentvi"]').value;
          var imageUrlv = form.querySelector('input[name="image_urlvi"]').value;
          commentsvi.push(commentv); // Añade el comentario a la lista de comentarios
          imageUrlsvi.push(imageUrlv); // Añade la URL de la imagen a la lista de URLs
      });

      //var commentsvi = []; // Lista para almacenar todos los comentarios
      var imageUrlsmi = []; // Lista para almacenar todas las URLs de las imágenes
      var commentFormsmi = document.querySelectorAll('.comment-formmi');
      

      commentFormsmi.forEach(form => {
          //var commentv = form.querySelector('textarea[name="commentvi"]').value;
          var imageUrlvmi = form.querySelector('input[name="image_urlmi"]').value;
          //commentsvi.push(commentv); // Añade el comentario a la lista de comentarios
          imageUrlsmi.push(imageUrlvmi); // Añade la URL de la imagen a la lista de URLs
      });

      //var commentsmi = []; // Lista para almacenar todos los comentarios
      
      

      var formData = new FormData();

      formData.append('boardName', boardName); // Añade el nombre del tablero
      formData.append('gemName', gemName); // Añade el nombre del tablero
      formData.append('information', information); // Añade el nombre del tablero
      formData.append('operatorvi', operatorvi); // Visual inspector
      formData.append('datevi', datevi); // Date Visual inspector



      formData.append('commentsvi', JSON.stringify(commentsvi)); // Añade la lista de comentarios como un string JSON
      formData.append('imageUrlsvi', JSON.stringify(imageUrlsvi)); // Añade la lista de URLs de imágenes como un string JSON
      
      formData.append('operatormi', operatormi); // Visual inspector
      formData.append('datemi', datemi); // Date Visual inspector

      formData.append('imageUrlsmi', JSON.stringify(imageUrlsmi));


     
      // Añadir archivos del segundo formulario al objeto FormData
      // Añadir archivos del segundo formulario al objeto FormData
      const fileInput = document.getElementById('file-inputmi');

      if (fileInput && fileInput.files.length > 0) {
      console.log("Número de archivos seleccionados: ", fileInput.files.length);
      for (const file of fileInput.files) {
          console.log(file.name); // Esto te permitirá ver los nombres de los archivos seleccionados en la consola
          formData.append('imagesmi', file.name);
      }
      } else {
      console.log("No hay archivos seleccionados.");
      }


      
      var csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      fetch('/comentarios/', {
          method: 'POST',
          body: formData,
          headers: {
              "X-CSRFToken": csrftoken,
          },
      }).then(response => {
          if(response.ok) {
              return response.blob(); // Cambiado de json() a blob()
          }
          throw new Error('Something went wrong');
      })
      .then(blob => {
          document.getElementById('loadingMessage').style.display = 'none';
          // Crear un URL para el blob
          const url = window.URL.createObjectURL(blob);
          // Crear un enlace y forzar la descarga
          const a = document.createElement('a');
          a.style.display = 'none';
          a.href = url;
          // El nombre de archivo que quieres que aparezca al guardar
          a.download = `Report_${boardName}.pdf`;
          document.body.appendChild(a);
          a.click();
          window.URL.revokeObjectURL(url);
      })
      .catch(error => {
        console.error('Error:', error);
        document.getElementById('loadingMessage').style.display = 'none';
        alert('Error al generar el PDF');
      });

      // Simulando la actualización de la barra de progreso
      let progress = 0;
      const interval = setInterval(() => {
          progress += 1;
          document.getElementById('progressBar').value = progress;
          if (progress >= 100) clearInterval(interval);
      }, 1000);
  }
  </script>



{% endblock %}
