
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
</head>
<body>
    <h2>Uploaded Images</h2>
    <div>
        {% for image_url in image_urls %}
            <img src="{{ image_url }}" alt="Uploaded image" style="width: 150px; height: auto;">
        {% endfor %}
    </div>
</body>
</html>
