<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Images</title>
    <!-- Asegúrate de que el valor del token CSRF se esté generando correctamente. -->
    <!-- Si usas Django, por ejemplo, debería ser así: -->
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <a class="nav-link" href="{% url 'clear' %}">Recargar y Limpiar</a>

    <div class="col-md-6" style="text-align: left;">
        <label style="text-align: left; font-weight: bold;">Board_name:</label>
        <input class="form-control me-2" id="boardNameInput" type="search" placeholder="BOARD NAME" aria-label="Search" name="nameboard">
    </div>

    <h2>Upload Images</h2>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="file-input" type="file" name="imagesvi" accept="image/*" multiple>
    </form>

    <script>
        document.getElementById('file-input').addEventListener('change', function() {
            localStorage.setItem('boardName', document.getElementById('boardNameInput').value);
            document.getElementById('upload-form').submit();
        });

        window.onload = function() {
            if(localStorage.getItem('boardName')) {
                document.getElementById('boardNameInput').value = localStorage.getItem('boardName');
            }
        };
    </script>

    {% if image_urlsvi %}
        <h2>Uploaded Images</h2>
        <div>
            {% for image_urlvi in image_urlsvi %}
                <div style="margin-bottom: 20px;">
                    <img src="{{ image_urlvi }}" alt="Uploaded image" style="width: 150px; height: auto;">
                    <form class="comment-form" method="post">
                        {% csrf_token %}
                        <textarea name="commentvi" placeholder="Add a comment..." required></textarea>
                        <input type="hidden" name="image_urlvi" value="{{ image_urlvi }}">
                        <button type="submit">Submit Comment</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h2>Upload Images 2</h2>
    <form id="upload-formmi" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="file-inputmi" type="file" name="imagesmi" accept="image/*" multiple>
    </form>

    <script type="text/javascript">
        function submitAllComments() {
            var commentForms = document.querySelectorAll('.comment-form');
            var boardName = localStorage.getItem('boardName') || 'DefaultBoardName';
            var commentsvi = [];
            var imageUrlsvi = [];

            commentForms.forEach(form => {
                var commentv = form.querySelector('textarea[name="commentvi"]').value;
                var imageUrlv = form.querySelector('input[name="image_urlvi"]').value;
                commentsvi.push(commentv);
                imageUrlsvi.push(imageUrlv);
            });

            var formData = new FormData();
            formData.append('boardName', boardName);
            formData.append('commentsvi', JSON.stringify(commentsvi));
            formData.append('imageUrlsvi', JSON.stringify(imageUrlsvi));

            const fileInput = document.getElementById('file-inputmi');
            if (fileInput && fileInput.files.length > 0) {
                for (const file of fileInput.files) {
                    formData.append('imagesmi', file);
                }
            }

            fetch('/comentarios/', {
                method: 'POST',
                body: formData,
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
            }).then(response => {
                if(response.ok) {
                    return response.blob();
                }
                throw new Error('Something went wrong');
            }).then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = `Report_${boardName}.pdf`;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            }).catch(error => console.error('Error:', error));
        }

        // Agregar un evento al botón "Submit All Comments"
        document.querySelector('button[type="button"]').addEventListener('click', submitAllComments);
    </script>
</body>
</html>
