
<!DOCTYPE html>
<html>
<head>
    <title>Upload Images</title>
</head>
<body>
    <h2>Upload Images</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="imagesmi" accept="image/*" multiple>
        <button type="submit">Upload</button>
    </form>

    <h3>Uploaded Images</h3>
    <div>
        {% for image_url in image_urlsmi %}
            <img src="{{ image_url }}" alt="Uploaded Image" style="width: 100px; height: 100px; margin: 10px;">
        {% empty %}
            <p>No images have been uploaded.</p>
        {% endfor %}
    </div>
</body>
</html>
