html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}



.navbar-custom {
    background-color: rgb(219, 223, 224);
    padding: 0px;
    font-size: 20px;
  }

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav 
.nav-link {
    color: #A2A300;
    font-weight: bold;

  }


footer.custom-footer {
    background-color: rgb(219, 223, 224);
    padding: 0px;
    color: #A2A300;
    font-weight: bold;
    font-size: 18px;
    flex-shrink: 0;
}

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el formulario */
  .login-container .card {
    background: rgba(255, 2, 255, 0.5);
    border-radius: 0;
  }
  
  /* Estilos para el botón "Login" */
  .login-container button.btn-primary {
    margin-top: 20px;
  }


.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;/* Set the height of the center wrapper to fill the viewport */
}


.chart-container {
  width: 100%; /* Use 100% width for responsiveness */
  max-width: 600px; /* Set a maximum width for larger screens */
  height: 100%;
  margin:0 auto;
  padding: 20px;
}

/* Style the canvas element inside the container */
.chart-container canvas {
  width: 100%;
  height: 100%;
}

.containernew {
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  /* Adjust container styles for smaller screens */
  .containernew {
    height: auto; /* Auto height for smaller screens */
    padding: 20px;
  }
}


.custom-color {
    background-color: #A2A300; /* Reemplaza tuColorPersonalizado con el código de color que desees */
    /* Otros estilos si es necesario */
}

.custom-color-letter {
    color: #A2A300; /* Reemplaza tuColorPersonalizado con el código de color que desees */
    /* Otros estilos si es necesario */
}

.social-icon {
    width: 40%;
    height: auto; 

}



.social-section {
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    padding: 20px;
    justify-content: center;
}

h2-color {
    margin-bottom: 10px;
    color: #1ABC9C;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.icon-redes{
  color: #1ABC9C;
  display: flex; 
  justify-content: center;
}

.color-login{
  background:#1ABC9C;
}

.sidebar .nav-link {
  font-weight: 500;
  color: var(--bs-dark);
}
.sidebar .nav-link:hover {
  background: var(--bs-light);
  color: var(--bs-primary);
}

.header {
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
}


.wait-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  display: none; /* Oculto por defecto */
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.clicked {
  color: white; /* Cambia el color del texto */
  background-color: blue; /* Cambia el color de fondo */
  font-family: Arial; /* Cambia la fuente */
}